# Day-7: Solution of Challenges
<hr>

<br>
This challenge is based on data of the books.xml document.

In [1]:
import xml.etree.ElementTree as ET
tree = ET.parse('books.xml')
root = tree.getroot()

<hr>

# Challenge-1

Using the books.xml document, find the all the information about books written by an author named Rob.
<br>
**Hint:** Use filter, lambda, and ElementTree.

In [2]:
books_list = filter(lambda x: 'Rob' in x.find('Author').text, root.findall("Books/Book"))

for book in books_list:
    print(book.find('Title').text, ' ..  By:', book.find('Author').text, '   ...   Price: {}'.format(book.get('price')))

Programming Fundamentals with Python  ..  By: Rob K.    ...   Price: 5.50
Java Made Simple  ..  By: Robin M.    ...   Price: 12.75

<hr>

# Challenge-2

Using the books.xml document, find the free books (**no price attribute**).

In [3]:
for book in root.findall("Books/Book"):
    if book.get('price') is None:
        print(book.find('Title').text, ' ..  By:', book.find('Author').text)

Python Tutorial  ..  By: Freeman L.
Scala Tutorial  ..  By: Norman B.

<hr>

# Challenge-3

Convert the data in the books.xml document into a tabular form.

In [4]:
dummy_row = 'ID,Volume,Title,Author,Price\n'
with open('books_data.csv','w') as f:
    for book in root.findall("Books/Book"):
        dummy_row += '{},{},{},{},{}\n'.format(book.get('id'),book.get('volume'),
                                        book.find('Title').text, book.find('Author').text,book.get('price'))
    f.write(dummy_row)

We can use pandas, by which we can convert **list of disctionaries of parsed xml data** into pandas dataframe, as follows.
<br>
<br>
**Note:** The books_df dataframe can, then, be saves in a CSV file using books_df.to_csv('books.csv')

In [5]:
import pandas as pd
books = []
for book in root.findall("Books/Book"):
    dummy_book = {}
    dummy_book['ID'] = book.get('id')
    dummy_book['Volume'] = book.get('volume')
    dummy_book['Price'] = book.get('price')
    dummy_book['Title'] = book.find('Title').text
    dummy_book['Author'] = book.find('Author').text
    books.append(dummy_book)
    
books
books_df = pd.DataFrame(books)[['ID','Volume','Title','Author','Price']]
books_df

  ID Volume                                 Title      Author  Price
0  1      1                              Calculus     Adam K.  11.35
1  2   None                               Physics    Samer A.  12.05
2  3   None  Programming Fundamentals with Python      Rob K.   5.50
3  4   None                           Arts of War      Lee X.   9.80
4  5   None                      Java Made Simple    Robin M.  12.75
5  6      1                  Software Engineering    Carob C.   5.50
6  7   None                    Calculus in Action     Adam K.  10.35
7  8   None                       Python Tutorial  Freeman L.   None
8  9   None                        Scala Tutorial   Norman B.   None

<hr>

# Challenge-4

Find the answer of the first challenge by another package called: lxml.etree, which has ‘contains’ capability.

In [6]:
from lxml import etree
tree = etree.parse('books.xml')
books_list = tree.xpath(".//Book[contains(Author,'Rob')]")

for book in books_list:
    print(book.find('Title').text, 'By:', book.find('Author').text, '   ...   Price: {}'.format(book.get('price')))

Programming Fundamentals with Python By: Rob K.    ...   Price: 5.50
Java Made Simple By: Robin M.    ...   Price: 12.75